<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="lofhelpdesk" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Help Desk</label>
            <tab>landofcoder</tab>
            <resource>Lof_HelpDesk::config_helpdesk</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="email_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Setting</label>
                <field id="enable_testmode" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Send Mail</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_receive" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Receive Notification</label>
					<comment>If you use multiple separate by comma. Note: when sending to many email the load time will increase</comment>
				</field>
                <field id="sender_email_identity" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="new_ticket_template" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of New Ticket Email</label>
                    <source_model>\Lof\HelpDesk\Model\Config\Source\EmailTemplate</source_model>
                </field>
                <field id="new_message_template" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of New Message Email</label>
                    <source_model>\Lof\HelpDesk\Model\Config\Source\EmailTemplate</source_model>
                </field>
                <field id="status_ticket_template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of Status Ticket Email</label>
                    <source_model>\Lof\HelpDesk\Model\Config\Source\EmailTemplate</source_model>
                </field>
                 <field id="reminder_template" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of Reminder Email</label>
                    <source_model>\Lof\HelpDesk\Model\Config\Source\EmailTemplate</source_model>
                </field>
                <field id="assign_ticket_template" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of Assign Ticket</label>
                    <source_model>\Lof\HelpDesk\Model\Config\Source\EmailTemplate</source_model>
                </field>

                <field id="enable_email_customer_chat" translate="label comment" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Send Mail to customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_admin_chat" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Notification to admin</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_chat_template" translate="label" type="select" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of Customer Chat Email</label>
                    <source_model>\Lof\HelpDesk\Model\Config\Source\EmailTemplate</source_model>
                </field>
                <field id="admin_reply_template" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template of Admin Reply Chat Email</label>
                    <source_model>\Lof\HelpDesk\Model\Config\Source\EmailTemplate</source_model>
                </field>
            </group>
             <group id="automation" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Automation</label>
                <field id="auto_close_ticket" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Close Ticket For, days</label>
                </field>
                <field id="auto_reminder_ticket" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Reminder Ticket For, days</label>
                </field>
                <field id="enable_auto_assign_user" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Auto Assign Admin User</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="admin_user_id" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Admin User Id</label>
                    <comment>Input default admin user Id will been assigned new chat message, and will receive notification email.</comment>
                </field>
                <field id="enable_clean_log" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Auto Clean Chat Logs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="clean_older_day" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clean Logs older number days</label>
                    <comment>Input number older days will been clean. Empty to clean all. Example: 30 - it's mean clean all chat logs from 30 days ago or older.</comment>
                </field>
             </group>
             <group id="chat" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Chat</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_guest" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Guest Chat</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id="enable">1</field></depends>
                </field>
                <field id="enable_blacklist" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled Check Blacklist</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="text_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Label</label>
                </field>
                <field id="background_color" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                </field>
                <field id="store" translate="label" type="multiselect" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store</label>
                    <source_model>Magento\Config\Model\Config\Source\Store</source_model>
                </field>
                <field id="welcome_message" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Welcome Message show on first chat</label>
                </field>
                <field id="auto_message" translate="label" type="textarea" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic Message show on first chat</label>
                </field>
                <field id="auto_user_name" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatic User Name</label>
                </field>
             </group>
            <group id="advanced_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced Setting</label>
                <field id="enable_qty_request" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable QTY Request</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_ticket_code" translate="label comment" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled Ticket Code</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="use_longcode" translate="label comment" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Use long tracking code?</label>
					<comment>Use short or long tracking code. The long tracking code use sha1 to encode.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<depends><field id="enabled_qrcode">1</field></depends>
				</field>
				<field id="secret_key" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Secret Key</label>
					<comment>Input the key which you want to use to generate tracking code.</comment>
					<depends><field id="use_longcode">1</field></depends>
				</field>
				<field id="chunks" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Number Chunks</label>
					<comment><![CDATA[is number of chunks, default = 1.<br/>If you just want to generate random string, set this to 1. It required at least number 1.<br/>Example: If number of chunk is 3. XXXXX-XXXXX-XXXXX]]></comment>
					<depends><field id="use_longcode">0</field></depends>
				</field>
				<field id="letters" translate="label comment" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Number Letters Per Chunk</label>
					<comment><![CDATA[is number of letters per chunk, default = 9.<br/>Example: If number of letters per chunk is 2 and number of chunk is 3. XX-XX-XX]]></comment>
					<depends><field id="use_longcode">0</field></depends>
				</field>
				<field id="separate_text" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Separate Chunk Text</label>
					<comment><![CDATA[is separator text to separate chunks, default = -.<br/>Example: If separator is colon. XXXXX:XXXXX:XXXXX:XXXXX:XXXXX]]></comment>
					<depends><field id="use_longcode">0</field></depends>
				</field>
            </group>
        </section>
    </system>
</config>        